<html lang="fr">

<%- include('../partials/head', { title: "API - Endpoints" }) %>

<body>
    <div class="container">
        <h1 class="title">Liste des endpoints</h1>
        <div class="shadowBox">
            <ul>
                <a href="/api/weather/rain"><li class="endpoint">/weather/rain</li></a>
                <a href="/api/weather/temperatures"><li class="endpoint">/weather/temperatures</li></a>
            </ul>
        </div>
    </div>
</body>

</html>