<html lang="fr">

<%- include('../partials/head', { title: "API - Accueil" }) %>

<body>
    <div class="container">
        <h1 class="title">API</h1>
        <div class="shadowBox">
            <a href="/api/endpoints"><button>Liste des endpoints</button></a>
            <a href="/api/documentation"><button>Documentation</button></a>
        </div>
    </div>
</body>

</html>