<header>
    <nav>
        <!-- <input type="checkbox" id="check">
        <label for="check" id="checkBtn">
            <i class="fa fa-bars"></i>
        </label> -->
    
        <div class="logo">
            <a href="/">Résilience Eau</a>
        </div>
    
        <ul class="nav-links">
            <li><a href="/">Accueil</a></li>
            <li><a href="/dashboard/home">Dashboard</a></li>
            <li><a href="/api/documentation">Documentation API</a></li>
        </ul>
    </nav>
</header>