@import "views/admin/register.css";

@import "views/dashboard/home.css";
@import "views/dashboard/schedule.css";
@import "views/dashboard/tanklevel.css";

@import "views/errors/404.css";
@import "views/errors/occurred.css";

@import "views/partials/navbar.css";
@import "views/partials/sidebar.css";

@import "views/home.css";
@import "views/login.css";

@import "media.css";

:root {
    --blueHover: #117DBD;
    --lightBlue: #95D1F5;
    --darkBlue: #1A182D;
    --darkCyan: #40E0D0;
    --darkRed: #B22222;
    --yellow: #F9BB12;
    --astro: #2A233E;
    --green: #00A19A;
    --grey: #EBEBEC;
    --cyan: #00FFFF;
    --blue: #24A1EB;
    --red: #DC143C;
}

* {
    text-decoration: none;
    list-style: none;
    padding:0;
    margin:0;
}

body {
    background-color: #005b96;
}