button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #e22d4b;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #d0183a;
}