<html lang="fr">

<%- include('./partials/head', { title: "Water Project - Accueil" }) %>

<body>

    <%- include('./partials/navbar') %>

    <div class="home-container">
        <p>Bienvenue sur le site de Résilience Eau, le projet qui vise à économiser l'eau grâce à la récupération des eaux de pluie et la réutilisation des eaux usées venant des sanitaires. Notre objectif est de sensibiliser les gens à l'importance de la gestion de l'eau et de leur fournir les outils nécessaires pour économiser cette ressource précieuse.</p>
        <p>Nous offrons une solution simple et efficace pour économiser l'eau. En récupérant les eaux de pluie, nous pouvons les utiliser pour arroser les plantes. De même, en réutilisant les eaux usées venant des sanitaires, nous pouvons économiser de grandes quantités d'eau potable.</p>    
    </div>

</body>

</html>